
NS2Bot/token.txt
/NS2Bot/bin/Debug/net6.0/config.yml
/NS2Bot/bin/Release
/NS2Bot/obj/Release
/NS2Bot/obj/Debug
/NS2Bot/obj
/.vs/NS2Bot/v17
/.vs/NS2Bot/FileContentIndex
/.vs/NS2Bot/v17
/.vs/ProjectEvaluation
/NS2Bot/Properties/PublishProfiles
/NS2Bot/obj/Debug/net6.0
/NS2Bot/obj/Debug/net6.0/NS2Bot.AssemblyInfo.cs
/.gitignore
/NS2Bot/obj/Debug/net6.0/NS2Bot.AssemblyInfoInputs.cache
/.vs/NS2Bot/v17/.suo
/.vs/NS2Bot/v17/DocumentLayout.json
/.vs/ProjectEvaluation/ns2bot.projects.v7.bin
/.vs/ProjectEvaluation/ns2bot.metadata.v7.bin
/.vs/NS2Bot/v17/.futdcache.v2
/.vs/NS2Bot/DesignTimeBuild/.dtbcache.v2
/NS2Bot/bin/Debug/net6.0/config.json
/NS2Bot/bin/Debug/net6.0
/NS2Bot/obj/Debug/net6.0/apphost.exe
/NS2Bot/obj/Debug/net6.0/NS2Bot.csproj.FileListAbsolute.txt
/NS2Bot/appsettings.json
/NS.Bot.App/appsettings.json
/NS.Bot.App/appsettings.json
